@page "/401"
@inject IJSRuntime JS;

<div class="child-center">
    <div class="d-flex justify-content-center">
        <RadzenCard class="border-0" style="color:#FF1919;">
            @ErrorMessage
            <div class="row mt-3 justify-content-center">
                <div class="col d-flex justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Light" Text="Ok" Size="ButtonSize.Small" class=" m-1 rounded-pill" Style="text-transform: none;" Click=@NavigateTo />
                </div>
            </div>
        </RadzenCard>
    </div>

</div>

@code {

    [Parameter]
    public string ErrorMessage { get; set; } = $"Sorry, we couldn't find anything at this address.";

    public async void GoBack()
    {
        await JS.InvokeVoidAsync("GoBack");
    }

    private async Task NavigateTo()
    {
        await JS.InvokeVoidAsync("eval", "window.location.href = '/'");
    }


}
