@inherits LayoutComponentBase


<div class="main" style="background-color:#F4EEFF; height:100vh;">
    <div class="content px-4 d-flex justify-content-center">
        @Body
    </div>
</div>

@code {

    

}
