<footer class="text-center text-secondary fixed-bottom pt-2 mt-3 d-flex justify-content-center shared-footer" style="background-color: #f1f1f1;">
    <div class="container p-0">
        <div class="row">
            <div class="col-xs-12 col-md-4 my-1 ">
                <section>
                    © @Copy.Year Copyright:
                    <a href="https://www.tuomokepamoja.africa/" style="color:dodgerblue;">Tuomoke Pamoja</a>
                </section>
                
            </div>

            <div class="col-xs-12 col-md-4 my-1 ">
                <section >
                     <!-- WhatsApp -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-twitter"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <!-- Email -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-solid fa-envelope"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="https://daisy@tuomokepamoja.africa"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-google"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </section>

            </div>

            <div class="col-xs-12 col-md-4 my-1 ">
                <section>
                    <p class="text-secondary"> Designed by <a href="#" style="color:goldenrod;">Allan O. Alex</a></p>
                </section>
                
            </div>
        </div>
    </div>
    
</footer>

@code {

    [Parameter]
    public DateTime Copy { get; set; } = DateTime.Today;

}
