<footer class="bg-light py-3 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <a href="#">
                    <i class="fab fa-facebook fa-2x mx-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter fa-2x mx-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram fa-2x mx-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin fa-2x mx-3"></i>
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <p class="text-secondary">&copy; 2022 Example Company</p>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
                <p class="text-secondary">
                    Designed by
                    <a href="#">Example Designer</a>
                </p>
            </div>
        </div>
    </div>
</footer>

@code {

}
