
<br />

<footer class="text-center text-light mt-2 fixed-bottom" style="background-color: #424874; width:100%; position:fixed !important; height:40px; padding:10px 0; bottom:0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                © @Copy.Year Copyright:
                <a href="https://www.tuomokepamoja.africa/" style="color:goldenrod;">Tuomoke Pamoja</a>
            </div>
            <div class="col">
                <i class="fab fa-facebook fa-2x mx-3"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</footer>


@code {
    [Parameter]
    public DateTime Copy { get; set; } = DateTime.Today;


}
