

 <section style ="display:flex; flex-direction:column; justify-content:space-between;">
        <BSRow>
            <div class="d-flex justify-content-between">
                <BSCol Column="6">
                <BSCard Class="m-1 border-0 bg-transparent">
                    <BSCard CardType="CardType.Title" Class="ms-3 mt-3 text-center" style="font-weight:bold; color:#424874;">Business Presentations</BSCard>
                    <BSCard CardType="CardType.Body" style=" display:flex; flex-direction:column; justify-content:space-between; max-height: 400px; ">
                        <div class="hidden-scroll" style="display:flex; flex-direction:column; justify-content:space-between; overflow-y: scroll;">
                                <iframe class="m-1" src="https://www.youtube.com/embed/7yQlB9pDnfs?autoplay=1&mute=1&controls=1" title="YouTube video" allowfullscreen></iframe>
                                <iframe class="m-1" src="https://www.youtube.com/embed/7yQlB9pDnfs?autoplay=1&mute=1&controls=1" title="YouTube video" allowfullscreen></iframe>
                                <iframe class="m-1" src="https://www.youtube.com/embed/7yQlB9pDnfs?autoplay=1&mute=1&controls=1" title="YouTube video" allowfullscreen></iframe>
                            </div>
                        </BSCard>
                    </BSCard>
                </BSCol>
                <BSCol Column="6">
                    <IndexEvents />
                </BSCol>
               
            </div>
        </BSRow>
    </section>

@code {



}
