@page "/contacts"
@inject HttpClient Http
@inject DialogService DialogService
@inject NavigationManager navigationManager
@attribute [AllowAnonymous]

<div class="hidden-scroll mt-4 mb-6" style="display:flex; flex-direction:column; justify-content:space-between; overflow-y: scroll;">
    <RadzenAccordion Multiple="false">
        <Items>
            <RadzenAccordionItem Text="Contact Us" Icon="phone" style="background-color:#A6B1E1" class="text-center rounded-pill">
                <RadzenCard class="border-0 bg-transparent">
                    <div class="d-flex flex-sm-row flex-column justify-content-center">
                        <div class="text-center m-3 ">
                            <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0" Style="color: #424874"><strong>Call/ WhatsApp</strong></RadzenText>
                            <RadzenText TextStyle="TextStyle.Caption" class="mb-0" Style="color:#c5a600;"><strong>0724 267 819</strong></RadzenText>
                        </div>
                        <div class="text-center m-3 ">
                            <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0" Style="color: #424874"><strong>Email</strong></RadzenText>
                            <RadzenText TextStyle="TextStyle.Caption" class="mb-0" Style="color:#c5a600;"><strong>daisy@tuomokepamoja.africa</strong></RadzenText>
                        </div>
                        <div class="text-center m-3 ">
                            <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0" Style="color: #424874"><strong>Website</strong></RadzenText>
                            <RadzenText TextStyle="TextStyle.Caption" class="mb-0" Style="color:#c5a600;"><strong>www.tuomokepamoja.africa</strong></RadzenText>
                        </div>
                    </div>
                </RadzenCard>
            </RadzenAccordionItem>

        </Items>
    </RadzenAccordion>
</div>

@code {

}
