

@*<nav class="navbar navbar-dark bg-dark fixed-bottom mt-5" style="bottom:70px;">
    <a style="color: #3b5998;" href="#!" role="button"><i class="bi bi-instagram"></i></a>
</nav>*@


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <a href="#">
                <i class="fas fa-facebook fa-2x mx-3"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter fa-2x mx-3"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x mx-3"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin fa-2x mx-3"></i>
            </a>
        </div>
    </div>
</div>

@code {

}
